:root {
  --background-light: #e0e0ec;
  --background-dark: #121212;

  --button-light: #e0e5ec;
  --button-dark: #333;

  --button-text-light: #333;
  --button-text-dark: white;

  --display-light: #e0e5ec;
  --display-dark: #333;

  --display-text-light: #333;
  --display-text-dark: white;

  --operator-light: #ff9f43;
  --operator-dark: #ff5722;

  --clear-light: lightcoral;
  --clear-dark: #d32f2f;
}

#toggle-theme {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 25px;
  font-size: 12px;
}

body {
  background: var(--background-light);
  color: var(--button-text-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.container {
  background: var(--background-light);
  color: var(--button-text-light);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 250px;
  height: 80px;
  background: var(--display-light);
  border-radius: 15px;
  box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
  color: var(--display-text-light);
}

.value {
  font-size: clamp(1rem, 18px, 18px);
}

.history {
  font-size: 18px;
  color: #7a7a7a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: var(--button-light);
  color: var(--button-text-light);
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #ffffff;
  border: none;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
}

button.operator {
  background: var(--operator-light);
  color: white;
}


.clear {
  background: var(--clear-light);
  grid-column: span 3;
}

.grid-columnn-2 {
  grid-column: span 2;
  width: 100%;
}

/* Estilo para o tema escuro */

body.dark-theme .container {
  background: var(--background-dark);
  color: var(--button-text-dark);
}

body.dark-theme button {
  background: var(--button-dark);
  color: var(--button-text-dark);
  box-shadow: none;
}

body.dark-theme .display {
  background: var(--display-dark);
  color: var(--display-text-dark);
  box-shadow: none;
}

body.dark-theme button.operator {
  background: var(--operator-dark);
}

body.dark-theme button.clear {
  background: var(--clear-dark);
}