body {
  background: #e0e0ec;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}

.container {
  background: #e0e0ec;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #babecc, -10px -10px 20px #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display {
  width: 250px;
  height: 80px;
  background: #e0e5ec;
  border-radius: 15px;
  box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 28px;
  padding: 10px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.value {
  font-size: clamp(1rem, 18px, 18px);
}

.history {
  font-size: 18px;
  color: #7a7a7a;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background: #e0e5ec;
  box-shadow: 5px 5px 10px #babecc, -5px -5px 10px #ffffff;
  border: none;
  font-size: 22px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px #babecc, inset -5px -5px 10px #ffffff;
}

.operator {
  background: #ff9f43;
  color: white;
}


.clear {
  background-color: lightcoral;
  grid-column: span 3;
}

.grid-columnn-2 {
  grid-column: span 2;
  width: 100%;
}